@import "./rose-pine.css";

* {
  border: none;
  border-radius: 8;
  font-family: CaskaydiaMono Nerd Font, Source Han Sans;
  font-weight: bold;
  font-size: 18px;
}

window#waybar {
  background: alpha(#ffffff, 0);
}

.module {
  background: @base;
  border: 1px solid @rose;
  color: @text;
}

#workspaces {
  padding: 0 10px 0 4px;
}

#workspaces button.empty {
  color: @text;
}

#workspaces button.active {
  color: @rose;
}

#workspaces button.urgent {
  color: @love;
}

#workspaces button {
  color: @foam;
}

#window {
  padding: 0 10px 0 10px;
}

#clock {
  padding: 0 10px 0 10px;
}

#mpris {
  padding: 0 10px 0 10px;
}

#tray {
  padding: 0 10px 0 10px;
}

#privacy {
  color: @love;
  padding: 0 10px 0 10px;
}

#bluetooth {
  padding: 0 10px 0 10px;
}

#network {
  padding: 0 14px 0 10px;
}

#privacy {
  background: @base;
  border: 1px solid @rose;
  color: @love;
  padding: 0 10px 0 10px;
}